body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	font-family: 'Assistant', sans-serif;
	background-attachment: fixed;

}

#headerRow {
	text-align: right;
	margin-top: 5%;
}

header {
	font-size: 50px;
	color: white;
}

p {
	color: white;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}


h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
#quiz, #results {
	text-align: right;
	margin-top: 5%;
}

.question {
	color: white;
}

.answer {
	color: white;
	font-size: 20px;
}

#quizSection {
	margin-bottom: 10%;
}


#timeAllowed {
	margin-top: 50%;
	margin-bottom: 15px;
	padding-left: 50%;

}


